body {
  font-family: 'Montserrat',sans-serif; 
  font-size: 20px;
}

.box {
  border: 2px solid black; 
  box-sizing: border-box;
  margin: 30px;
  border-radius: 20px;
}

.button {
  width: 200px;
  height: 60px;
  left: 24px;
  margin-left: 0px;
  top: 531px;
  display: inline-block;
  padding: 16px;
  margin-top: 10px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: red;
  background-color: #353bab;
  /* border: black 200%; */
  border: 2px solid black;
  box-sizing: border-box;
  border-radius: 10px;
  position: bottom-center; 
}

.button:hover {background-color: #353bab; }

.button:active {
  background-color: #353BAB;
}

.uk-section {
  text-align: center;
  position: bottom;
}

.uk-modal-body {
  padding: 8px;
}
