body {
  font-family: 'Montserrat',sans-serif;font-size: 20px;
}

.box {
 background: #8A8EDB;
 border: 1.5px solid #000000;
 box-sizing: border-box;
 border-radius: 16px;
 margin: auto;
 padding-left: 5px;
 padding-right: 5px;
 margin-top:16px;
}

svg {
  margin-left: 15px;
 }

.box1 {
 background: #FFC010;
 border: 1.5px solid #000000;
 box-sizing: border-box;
 border-radius: 16px;
 margin: auto;
 padding-left: 5px;
 padding-right: 5px;
 margin-top:16px;
}

.container {
  margin-top: 10px;
}

