* {
  margin: 0;
  padding: 0;
}

.vls-wrapper {
  max-width: 375px;
  margin: 0 auto;
  background-color: white;
  height: 100vh;
}

body {
  background-color: white;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

.box1 {
    height: 55px;
    width: 317px;
    background: white;
    border: 1.5px solid #D1D2D9;
    box-sizing: border-box;
    border-radius: 16px;
    margin: auto;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 16px;
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25rem;
  padding: 2.5rem;
  box-sizing: border-box;
  background: #fffff;
  border-radius: 0.625rem;
  margin-top: 28px;
}

.box h2 {
  margin: 0 0 1.875rem;
  padding: 0;
  color: #fff;
  text-align: center;
}

.box .inputBox {
  position: relative;
}

.box .inputBox input {
    width: 70%;
    padding-top: 23px;
    padding-left: 14px;
    font-size: 20px;
    color: black;
    letter-spacing: 0.062rem;
    margin-bottom: 1.875rem;
    border: none;
    outline: none;
    background: transparent;
}

.box .inputBox label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 17px 0px 0px 14px;
    font-size: 20px;
    color: black;
    pointer-events: none;
    transition: 0.5s;

}

.inputBox {
   font-family: 'Montserrat', sans-serif;
}
.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label,
.box .inputBox input:not([value=""]) ~ label {
  top: -1.125rem;
  left: 0;
  color: #03a9f4;
  font-size: 0.75rem;
}

.box input[type="submit"] {
  border: none;
  outline: none;
  color: white;
  background-color: #353bab;
  padding: 0.625rem 1.25rem;
  cursor: pointer;
  border-radius: 0.312rem;
  font-size: 1rem;
}

.box input[type="submit"]:hover {
  background-color: #353bab;
}

.button {
  width: 327px;
  height: 60px;
  left: 24px;
  margin-left: -4px;
  top: 531px;
  display: inline-block;
  padding: 15px 25px;
  margin-top: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: white;
  background-color: #353bab;
  border-radius: 15px !important;
  position: bottom-center; 
  font-size: 18px !important;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  border: 2px solid black !important;
  box-sizing: border-box !important;
}

.button:hover {background-color: #353bab; }

.button:active {
  background-color: #353BAB;
}

svg {
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
    margin-left: -17px;
}

label {
  margin-left:5px;
  margin-bottom: 50px !important;
}


input {
  margin-left:14px;
  font-size: 14px !important;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0), inset 0 0 0 100px rgba(255, 255, 255,1);
}