body {
  font-family: 'Montserrat';font-size: 20px;
}

* {
  margin: 0;
  padding: 0;
}

.vls-wrapper {
  max-width: 375px;
  margin: 0 auto;
  background-color: white;
  height: 100vh;
}

h3 {
  text-align: center;
}

p {
  text-align: center;
}

.container {
  display: block;
  margin: o auto;
  text-align: center;
  margin-top: 30px;
  padding: 20px;
}

.mkd-button {
  border: none;
  display: inline-block;
  outline: 0;
  padding: 6px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none!important;
  color: white;
  background-color: black;
  text-align: center;
  cursor: pointer;
}

.mkd-bar {
  width: 100%;
}

.mkd-bar .mkd-bar-item {
  padding: 8px 16px;
  background-color: inherit;
  width: auto;
  border: none;
  display: block;
}
