.row {
  display: flex;
}

.nama {
  margin-left: 10px;
}

.uk-comment-header {
    display: flow-root;
    margin-bottom: 0px !important ;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 10%;
    padding: 10px;
    height: 60px;
    margin-top: 5px;
    margin-left: 51px;
}

.column1 {
  margin-top: 9px;
  margin-left: 97px;
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html,
/* body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  /* overflow: hidden; */
} */

.slide-in-bottom {
  background:white;
  border: 2px solid black;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  box-sizing: border-box;
  position: absolute;
  display: block;
  right: 0;
  left: 0;
  bottom: 0;
  height: 50px;
  z-index: 999;
  -webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.custom-map-control-button {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
  height: 40px;
  cursor: pointer;
}
.custom-map-control-button:hover {
  background: #ebebeb;
}

/* .uk-margin {
  border: 2px solid black;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  box-sizing: border-box;
} */

/* .vls-content {
  background-color: grey;
}

.uk-search-input {
  margin: 0, auto;
  background-color: red;
}

.uk container-slide {
  margin: 0 auto;
} */

.vls-cont {
color:#353BAB;
}

.button:hover {background-color: #353bab; }

.button:active {
  background-color: #353BAB;
}

.uk-section {
  text-align: center;
  position: bottom;
} 

.rounded-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 150px;
    height: 50px;
    borde-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    background-color: #353bab;
  
    span{
    color: white;
    }
}

.box{
  width:100%;
  padding: 16px;
  margin-top: 30px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  box-sizing: border-box;
}

.to-cmr {
  padding: 16px;
}

h4{
  margin-top: 0px !important;
}

.btn1 {
  background-color: #ffc010;
  /* margin-left: 24px; */
  margin-right: 0px !important;
  border: none;
  width: 80px;
  height: 80px;
  color: white;
  /* padding: 10px 5px 10px 5px; */
  font-size: 16px;
  cursor: pointer;
  border: 2px solid black;
  box-sizing: border-box;
  border-radius: 15px;
}

.btn2 {
  background-color: #ffc010;
  margin-left: 37px;
  margin-right: 49.5px;
  width: 80px;
  height: 80px;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  border: 2px solid black;
  box-sizing: border-box;
  border-radius: 15px;
}

.btn3 {
  margin-left: -18px;
  background-color: #ffc010;
  width: 80px;
  height: 80px;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  border: 2px solid black;
  box-sizing: border-box;
  border-radius: 15px;
}

.text-group {
  margin-left: 30px;
  text-align: center;
}

.text-group1 {
  margin-left: 32px;
  width: 90px;
  text-align: center;
  /* word-wrap: break-word !important; */
}

.text-group2 {
  margin-left: 33.5px;
  text-align: center;
}

.button1 {
  margin: 0 auto;
  width: 327px;
  height: 60px;
  display: inline-block;
  padding: 8px 2px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  background-color: #353bab;
  /* border: black 200%; */
  border: 2px solid black;
  box-sizing: border-box;
  border-radius: 15px;
  position: bottom-center; 
  align-items: center;
  align-text: center;
}
.button:hover {background-color: #353bab; }

.button:active {
  background-color: #353BAB;
} 

.kotak {
  margin-left: 20px;
}

/* .kotak1 {
  word-wrap: break-word !important;
} */


@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

.img {
  margin-left: 0px;
  margin-top: -13px;
  height: 150px;
  width: 200px;
}

.img2 {
    margin-left: 1px;
    margin-top: -4px;
    height: 110px;
    width: 145px;
}

.img3 {
    margin-left: -1px;
    margin-top: -7px;
    height: 85px;
    width: 116px;
}

.img4 {
    margin-left: -1px;
    margin-top: -5px;
    height: 64px;
    width: 83px;
}

.container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.avatar1 {
	width: 150px;
	height: 150px;
	box-sizing: border-box;
	border: 5px white solid;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
	img { width: 100%; height: auto; }
}

.avatar2 {
  width: 125px;
  height: 125px;
	box-sizing: border-box;
	border: 5px white solid;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
	img { width: 100%; height: auto; }
}

.avatar3 {
  width: 90px;
  height: 90px;
	box-sizing: border-box;
	border: 5px white solid;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
	img { width: 100%; height: auto; }
}

.avatar4 {
  width: 70px;
  height: 70px;
	box-sizing: border-box;
	border: 5px white solid;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
	img { width: 100%; height: auto; }
}

.wrapper {
	position: relative;
}

#pos1 {
	position: absolute;
	  top: 51px;
    left: 109px;
} 

#pos2 {
    position: absolute;
    top: 146px;
    left: 20px;
}

#pos3 {
    position: absolute;
    top: 113px;
    left: 242px;
}

#pos4 {
    position: absolute;
    top: 8px;
    left: 251px;
}

#pos5 {
    position: absolute;
    top: 39px;
    left: 33px;
}

.form-group {
    margin-bottom: 15px;
    border-top: 2px solid black;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

