/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

svg {
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
    box-sizing: border-box;
    margin-right: 12px;
    margin-left: -80px;
    margin-top: 0px;
}


.vls-wrapper {
  max-width: 375px;
  margin: 0 auto;
  background-color: white;
  height: 100vh;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0;
  font-family: 'Montserrat',sans-serif;
  font-size: 20px;
  background: #FFC010 !important;
  /* overflow: hidden; */
}

.custom-map-control-button {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
  height: 40px;
  cursor: pointer;
}
.custom-map-control-button:hover {
  background: #ebebeb;
}

.vls-cont {
color:#353BAB;
}

.bg-blue {
  background: #353BAB;
}

.button {
  border: 2px solid black;
  box-sizing: border-box;
  width: 310px;
  height: 60px;
  left: 24px;
  margin-left: 5px;
  top: 531px;
  display: inline-block;
  padding: 15px 25px;
  margin-top: 15px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  background-color: #353bab;
  border: black 200%;
  border-radius: 10px;
  position: bottom-center; 
}

.vls1 {
  background-color: #353bab;
  margin-left: 10px;
  border: none;
  width: 80px;
  height: 80px;
  color: white;
  /* padding: 10px 5px 10px 5px; */
  font-size: 16px;
  cursor: pointer;
  border: 2px solid black;
  box-sizing: border-box;
  border-radius: 15px;
}

.vls2 {
  background-color: #353bab;
  margin-left: 14px;
  width: 80px;
  height: 80px;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  border: 2px solid black;
  box-sizing: border-box;
  border-radius: 15px;
}

.vls3 {
    background-color: #353bab;
    margin-left: -14px;
    width: 80px;
    height: 80px;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid black;
    box-sizing: border-box;
    border-radius: 15px;
}

.aaa{
margin-left: 31px;
}

.bbb {
  margin-left: 126px;
}

.ccc {
  margin-left: 62px;
}

.inf {
  margin-left: -1px;
}


/* b, strong {
    margin-left: -24px;
    font-weight: bolder;
} */

/* .text-group {
  margin-left: 30px;
  text-align: center;
}

/* .text-group1 {
  margin-left: 82px !important;
  text-align: center;
} */

/* .text-group2 {
  margin-left: 10.5px !important;
  text-align: center;
} */ */

.bawah {
 margin-top: 30px;
}

.search {
    border: 2px solid black;
    box-sizing: border-box;
    width: 310px;
    height: 40px;
    left: 32.5px;
    top: 531px;
    display: inline-block;
    padding: 6px 0px 10px 20px;
    margin-top: 51px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    background-color: white;
    border: black 200%;
    border-radius: 10px;
    position: bottom-center;
}


.button:hover {background-color: #353bab; }

.button:active {
  background-color: #353BAB;
} 

.kotak {
  margin-left: 20px;
}




.act-btn{
  background: green;
  display: block;
  width: 50px;
  height:50px;
  line-height: 50px;
  text-align: center;
  color: white;
  font-size: 30px;
  font-weight: bold;
  border-radius: 50%;
  text-decoration: none;
  transition: ease all 0.3s;
  -webkit-border-radius:50%;
  position: fixed;
  right:30px;
  bottom: 30px;
} 

.fas .fa-circle {
  border: 2px solid black;
  box-sizing: border-box;
}

 .lingkaran1{
        width: 18px;
        height: 18px;
        background: #FF3B10;
        border-radius: 100%;
        border-radius: 50px; 
        border: 1.5px solid #000;
    }

.lingkaran2{
        width: 18px;
        height: 18px;
        background: #FFD910;
        border-radius: 100%;
        border-radius: 50px; 
        border: 1.5px solid #000;
    }

.lingkaran3{
        width: 18px;
        height: 18px;
        background: #10FF61;
        border-radius: 100%;
        border-radius: 50px; 
        border: 1.5px solid #000;
    }