body {
  font-family: 'Montserrat',sans-serif;font-size: 20px;
}

* {
  margin: 0;
  padding: 0;
}

.vls-wrapper {
  max-width: 375px;
  margin: 0 auto;
  background-color: white;
  height: 100vh;
}

.input-group {
  margin: 0px 0px 20px 20px;
  padding-top:10px;
}

.cancel {
    margin-left: 90px;
    margin-top: 0px;
    padding: 12px 0px 0px 0px;
}

input[type="search"] {
    -webkit-appearance: none;
    width: 185px;
}

.lokasi {
  margin: 20px;
  font-family: 'Montserrat', sans-serif;
  color: black;
}

.container-slide {
  background-color: #FFC010;
}

.kota {
  margin: 0px;
  padding: 10px 0px 10px 20px;
}

.level3 {
  margin: 0px;
  padding: 10px 0px 10px 20px;
  color: #FF3B10;
}

.level2 {
  margin: 0px;
  padding: 10px 0px 10px 20px;
  color: #FFD910;
}

.level1 {
  margin: 0px;
  padding: 10px 0px 10px 20px;
  color: #10FF61;
}

.uk-text-middle {
  margin: 20px;
}

.box {
  background-color: white;
  width: auto;
  height: 40px;
  
}

.container {
  display: flex;
  space: between;
  width: 50%;
}